<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
    Dear <#list names as name>
    <p>${name}</p>
         </#list>,
    	<p>Here is the products list</p>
    	<ul>
    	 <#list products as product>
                <li>product name: ${product.name}  ,product price: ${product.price}</li>
         </#list>
        </ul>
</body>
</html>