<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Otp generation</title>
</head>
<body>
    Dear ${name},
    	Your ${application} application otp is ${otp} and it ll be valid till ${seconds} seconds.
</body>
</html>